@model List<MvcAppDetails.Models.Product>

<h2>Product List</h2>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Category</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">View Details</a>
            </td>
        </tr>
    }
</table>